# python & backend
backend/__pycache__/
backend/.venv/
backend/env/
backend/fastapi-env/
backend/.env

node_modules/
.next/
out/
.env*.local

__pycache__/
venv/
env/
.env

data/
*.csv
*.pt
*.h5
*.onnx

.DS_Store
Thumbs.db